
* {
    margin:0;
    padding:0;   
}

html {
    background-color:rgb(18, 22, 31);
    color: #FFF;
    font-family:'lato', 'Arial', sans-serif;
    font-weight:300;
    font-size: 20px;
    text-rendering:optimizeLegibility;
    
}
.lock { overflow: hidden; }

.clear-fix {zoom:1}
.clear-fix:after{
    content:' ';
    clear:both;
    display: block;
    height: 0;
}

a:visited,
a:link {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/*---------------------------------------------*/
/*--------------Container----------------------*/
/*---------------------------------------------*/

.container {
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
    
}

/*---------------------------------------------*/
/*--------------Header   ----------------------*/
/*---------------------------------------------*/


.top-menu-standard a:visited,
.top-menu-standard a:link, .dropdown .dropbtn {
    padding: 13px 16px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}

/*---------------------------------------------*/
/*------------Mobile Navigation----------------*/
/*---------------------------------------------*/

.top-menu-standard 
{
    position: fixed;
    width: 100%;
    height: 50px;
    background: #293A4A;
    color: #FFF;
    z-index: 1000;
    transition: padding .7s ease;

}

.top-menu-standard > div 
{
    background: #293A4A;
    overflow: hidden;
}

.top-menu-standard > div > img 
{
    transition: height .7s ease;
    float: left;
    height: 40px;
    width: auto;
    padding: 4px
}

.top-menu-standard > div > img + div 
{
    display: none;
    font-size: 150%;
    float: right;
}

.top-menu-standard >div>img+div a:link
{
    transition: transform .7s ease;
    color: #fff;
    display: inline-block;
    padding: 3px 16px;
}

.top-menu-standard >div>img+div:hover
{
    color : #160a29;
    transform-origin: 50% 50%;
    transform: scale(1.3, 1.3)
}

.top-menu-standard > div > ul
{
    transition: transform .7s ease;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    background: #293A4A;
}

.top-menu-standard > div > ul.right-menu {
    float: right
}
.top-menu-standard > div > ul.left-menu {
    float: left
}
.top-menu-standard > div > ul li 
{
    line-height: normal;
    display: inline-block
}

.top-menu-standard > div > ul li>a {
    transition: padding .7s ease,color .7s ease;
    font-size: 80%;
    font-weight: lighter;
    padding: 10px 24px;
    display: list-item;;
    color: #fff;
    line-height: 1.5;
}

.top-menu-standard > div > ul li>a:hover
{
    background: #e95a4b;
}

.top-menu-standard .search-group
{
    padding: 8px 1px;
}

.top-menu-standard .search-group input[type="text"] 
{
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #4D6479;
    background-color: #293A4A;
    border: 1px solid #27537b;
    display: table-cell;
    outline: none;  
    font-size: 80%;
}

.top-menu-standard .search-group > button
{
    display: inline-block;
    width: 27px;
    height: 31px;
    position: relative;
    left: -5px;
    top: 2px;
    background: #293A4A;
    border-color: #293A4A;
    border: 1px solid #27537b;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #526A82;
    outline: none;
    cursor: pointer;
}

.top-menu-standard li.dropdwn-menu:hover > ul.dropdown
{
    display: block;
    z-index: 10;
}
.top-menu-standard ul.dropdown 
{
    display: none;
    list-style: outside none none;
    position: absolute;
    background: #293A4A;
    width: 250px;
    border-top: 2px solid rgb(255, 221, 0);
}

.top-menu-standard ul.dropdown li 
{
    display: block;
}

/*---------------------------------------------*/
/*--------------Sticky Nav---------------------*/
/*---------------------------------------------*/

/*--------------------------------------------*/
/*--------------DropDown Menu-----------------*/
/*--------------------------------------------*/


/*---------------------------------------------*/
/*------------End Of DropDown Menu-------------*/
/*---------------------------------------------*/

.slider {
    padding-top: 50px;
}

.owl-dots {
    text-align: center;
}

.owl-carousel .owl-dots {
  height: 22px;
  line-height: 22px;
  text-align: center
}
/*--------------------------------------------------*/
/*----------------Sections -------------------------*/
/*--------------------------------------------------*/

section {
    clear: both;
    padding: 30px 0px
}



/*--------------------------------------------------*/
/*----------------Headings-------------------------*/
/*--------------------------------------------------*/

.title-feed {
    position: relative;
    margin: 0 0 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 0;
}

.title-feed:after {
    content: no-close-quote;
	position: absolute;
	width: 100%;
	height: 14px;
	bottom: 15px;
	left: 0;
    background: url(img/title_pat2.png) repeat;
	z-index: 1;
}

.title-feed h1 {
    position: relative;
    font-weight: bold;
    font-size: 120%;
    word-spacing: 2px;
    bottom:2px;
    margin: 0;
    padding: 0 10px 0 0;
    display: inline;
    background: rgb(18, 22, 31);
    z-index: 9;
}

/*-----------------------------------------------*/
/*------------------Card styling-----------------*/
/*-----------------------------------------------*/

.card-collection {

}

.card-collection a {
  text-decoration: none;
  color: #5C7FB8;
}

.card-collection a:hover {
  text-decoration: underline;
}

.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;;
  color: #A9A8A3;
  padding: 4px 0;
}

.movie-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #302e42;
  border-radius: 5px;
  position: relative;
  transition: .5s box-shadow, .5s background ease;
}

.movie-container:hover{
    background: rgb(25, 24, 35);
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,.8);
}
.movie-container:hover > .hero:before{
    background: rgb(25, 24, 35);
}

.dark-back {
    background: #fff;
}
.hero {
  height: 100px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hero img {
    position:absolute;
    z-index:-2;
    width: 100%;
}

.hero:after,
.hero:before{
  content: '';
  width: 101%;
  height: 100%;
  position: absolute;
  overflow: visible;
  left: 0;
  background-size: cover;
  z-index:-1;
  -webkit-transform: skewY(-2.2deg);
          transform: skewY(-2.2deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
}
.hero:before{
    top: 100%;
    background: rgb(48, 46, 66);
    transition: .5s box-shadow, .5s background ease;
}
.hero:after {
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.58)); 
}



.cover {
  position: absolute;
  top: 10px;
  left: 6px;
  z-index: 2;
}

.details {
  padding: 10px 0 0 140px;
}

.details .title1 {
  color: white;
  font-size: 90%;
  position: relative;
}

.details .title1 span {
  position: absolute;
  top: 0;
  margin-left: 3px;
  background: #C4AF3D;
  border-radius: 2px;
  color: #544C21;
  font-size: 70%;
  padding: 0px 6px;
}

.details .title2 {
  color: #C7C1BA;
  font-size: 90%;
  font-weight: 300;
  margin-bottom: 2px;
}

.details .likes {
  margin-left: 4px;
}

.details .likes:before {
  content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
  position: relative;
  top: 2px;
  padding-right: 7px;
}

.description {
  bottom: 0px;
  height: 175px;
  font-size: 90%;
  line-height: 24px;
  color: #B1B0AC;
}

.column1 {
    padding-left: 0px;
    padding-top: 67px;
    width: 110px;
    float: left;
    text-align: center;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 80%;
  margin-right: 2px;
  line-height: 3px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 4px;
    padding-top: 6px;
    margin-left: 5px;
    width: 65%;
    float: left;
    display: inline;
}

.avatars {
  margin-top: 12px;
}
.avatars img {
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 5px solid #2b2840d1;
    margin-left: 6px;
}
.avatars img:hover {
  opacity: 0.5;
}
.avatars a:hover {
  text-decoration: none;
}

fieldset, label {
  margin: 0;
  padding: 0;
}
/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

a[data-tooltip] {
  position: relative;
}

a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 10px;
  padding: 0 25px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}

a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/
/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 45px;
}

a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}

.showmore {
    background-color: #302e42;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 80%;
    color: #5C7FB8;
    font-weight: 600;
    transition: .5s box-shadow, .5s background ease;
}

.showmore a{
    display:block;
    line-height:1.5;
    width: 100%;
    padding: 8px 0;
}

.showmore:hover{
    background-color: rgb(25, 24, 35);
    box-shadow: 0 0 0.5rem 0 rgba(0,0,0,.8);
}

.inner-container
{
    color: black;
    overflow: hidden;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
}

.post-detail 
{
    box-sizing: border-box;
    display: flex;
    width: 25%;
    background-color: #302e42;
    color: #B1B0AC;
    overflow: hidden;
    font-size: 80%;
    padding: .3125em;
    transition: .5s box-shadow, .5s background ease;
    border-radius: .125em;
    transition: all .3s cubic-bezier(.165,.84,.44,1);

}
.post-detail:hover 
{
    background: rgb(25, 24, 35);
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    z-index: 100;
}
.post-detail .feature-thumb a
{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;   
}

.post-detail .feature-thumb
{
    float: left;
    margin-right: 5%
}
.post-detail .feature-thumb img 
{
    width: 100%;
    height: 100%;
}

.post-detail .feature-details > h3
{
    font-size: 90%;
    margin-bottom: 10px;
    line-height: 20px;
    font-weight: 700;
}

.post-detail .info
{
    color: #c9c9c9;
    font-size: 80% !important;
    text-transform: capitalize;
    font-weight: 500 !important;
    line-height: 20px;
}

.post-detail .info > .post-date
{
    margin-right: 10px;
}

.post-detail .info .icon 
{
    padding-right: 5px;
}


/*---------------General Carousel -------------*/

.thumbnail-series .item
{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.thumbnail-series .item .thumbnail
{
    width: 100%;
}


.thumbnail-series .thumbnail-description
{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background-color: rgb(239, 239, 239);
    border-radius: 0 0 .25em .25em;
    color: #333;
    font-size: 0.9rem;
    padding: 1em;
    transition: all .3s cubic-bezier(.165,.84,.44,1);
    width: 100%;
    text-transform: capitalize;
    
}

.thumbnail-series .thumbnail-description h4 
{
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.thumbnail-series .thumbnail-description h4 a
{
   color: #333;
}

.thumbnail-series .thumbnail-description .number-of-episode
{
    color: #757575;
    margin: 6px 0;
    font-size: 0.7rem;
    font-weight: 500;
}

.thumbnail-series .thumbnail-description .number-of-episode > span::after
{
    content: content: "G";
    box-sizing: inherit;
}

.thumbnail-series .thumbnail-description .thumbnail-watchlist
{
    font-size: 0.7rem;
}

.thumbnail-series .thumbnail-description .rate .checked {
    
    color: orange;
}

.thumbnail-series .thumbnail-description .rate ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.thumbnail-series .thumbnail-description .rate li {
    float: left;
}

.thumbnail-series .thumbnail-description .thumbnail-watchlist .add-watchlist
{
    float: right;
}

.feature .owl-nav
{
    line-height: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-90%);
    margin: -10px 0;
    background: rgb(18, 22, 31);
    
}

.feature .owl-nav .owl-next,
.feature .owl-nav .owl-prev
{
    background-color: transparent;
}


footer
{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 1% 2% 1%;
    font-size: 80%;
    background: rgb(20, 24, 34);
}

footer .footer-item
{
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding-left: 20px;;
    color: #A9A8A3;
    align-self:flex-start;
}
footer .footer-item h3
{
    margin-bottom: 10px;
}
footer .footer-item ul
{
    min-width: 32.8%;
    list-style: none;
}
footer .footer-item a 
{
    line-height: 2;
    color: #A9A8A3;
}

footer .footer-item > p
{
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
}
footer .social-media
{
    margin-top: 10px;
}
footer .social-media a 
{
    margin-right: 20px;
}